*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/data/build/
/core/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/domain/build/
/core/network/build/
/core/network/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/ui/build/
/engine/navigation/build/
/engine/sdui/build/
/engine/sdui/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/dashboard/build/
/feature/dashboard/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/login/build/
/feature/login/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/profile/build/
/feature/profile/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/